@charset "UTF-8";

@font-face {
  font-family: "gocar";
  src:url("fonts/gocar.eot");
  src:url("fonts/gocar.eot?#iefix") format("embedded-opentype"),
    url("fonts/gocar.woff") format("woff"),
    url("fonts/gocar.ttf") format("truetype"),
    url("fonts/gocar.svg#gocar") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gocar" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gf-"]:before,
[class*=" gf-"]:before {
  font-family: "gocar" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gf-home:before {
  content: "\e000";
}
.gf-burger:before {
  content: "\e001";
}
.gf-search:before {
  content: "\e002";
}
.gf-alert:before {
  content: "\e003";
}
.gf-refresh:before {
  content: "\e004";
}
.gf-reload:before {
  content: "\e005";
}
.gf-history:before {
  content: "\e006";
}
.gf-list:before {
  content: "\e007";
}
.gf-ellipsis-v:before {
  content: "\e008";
}
.gf-ellipsis-h:before {
  content: "\e009";
}
.gf-user-circle:before {
  content: "\e00a";
}
.gf-users:before {
  content: "\e00b";
}
.gf-user:before {
  content: "\e00c";
}
.gf-user-dealer:before {
  content: "\e00d";
}
.gf-lock:before {
  content: "\e00e";
}
.gf-unlock:before {
  content: "\e00f";
}
.gf-filter:before {
  content: "\e010";
}
.gf-toggles:before {
  content: "\e011";
}
.gf-sort-asc:before {
  content: "\e012";
}
.gf-sort-desc:before {
  content: "\e013";
}
.gf-calendar:before {
  content: "\e014";
}
.gf-calendar-check:before {
  content: "\e015";
}
.gf-calendar-time:before {
  content: "\e016";
}
.gf-watch:before {
  content: "\e017";
}
.gf-stopwatch:before {
  content: "\e018";
}
.gf-clock:before {
  content: "\e019";
}
.gf-comment:before {
  content: "\e01a";
}
.gf-commenting:before {
  content: "\e01b";
}
.gf-camera:before {
  content: "\e01c";
}
.gf-picture:before {
  content: "\e01d";
}
.gf-bar-chart:before {
  content: "\e01e";
}
.gf-code:before {
  content: "\e01f";
}
.gf-medal:before {
  content: "\e020";
}
.gf-label:before {
  content: "\e021";
}
.gf-shield:before {
  content: "\e022";
}
.gf-shield-plus:before {
  content: "\e023";
}
.gf-super:before {
  content: "\e024";
}
.gf-map-marker:before {
  content: "\e025";
}
.gf-crosshairs:before {
  content: "\e026";
}
.gf-life-ring:before {
  content: "\e027";
}
.gf-eye:before {
  content: "\e028";
}
.gf-eye-slash:before {
  content: "\e029";
}
.gf-tachometer:before {
  content: "\e02a";
}
.gf-stack:before {
  content: "\e02b";
}
.gf-pencil:before {
  content: "\e02d";
}
.gf-cog:before {
  content: "\e02c";
}
.gf-trash:before {
  content: "\e02e";
}
.gf-design:before {
  content: "\e02f";
}
.gf-widget:before {
  content: "\e030";
}
.gf-line-chart:before {
  content: "\e031";
}
.gf-minus:before {
  content: "\e032";
}
.gf-plus:before {
  content: "\e033";
}
.gf-times:before {
  content: "\e034";
}
.gf-check:before {
  content: "\e035";
}
.gf-expand:before {
  content: "\e036";
}
.gf-compress:before {
  content: "\e037";
}
.gf-arrow-down-right:before {
  content: "\e038";
}
.gf-arrow-up-right:before {
  content: "\e039";
}
.gf-arrow-dis-down-right:before {
  content: "\e03a";
}
.gf-arrow-dis-up-right:before {
  content: "\e03b";
}
.gf-arrow-left:before {
  content: "\e03c";
}
.gf-arrow-right:before {
  content: "\e03d";
}
.gf-chevron-down:before {
  content: "\e03e";
}
.gf-chevron-left:before {
  content: "\e03f";
}
.gf-chevron-right:before {
  content: "\e040";
}
.gf-chevron-up:before {
  content: "\e041";
}
.gf-signal:before {
  content: "\e042";
}
.gf-echo:before {
  content: "\e043";
}
.gf-circle-left:before {
  content: "\e044";
}
.gf-circle-right:before {
  content: "\e045";
}
.gf-info-circle:before {
  content: "\e047";
}
.gf-question-circle:before {
  content: "\e048";
}
.gf-plus-circle:before {
  content: "\e049";
}
.gf-minus-circle:before {
  content: "\e04a";
}
.gf-check-circle:before {
  content: "\e046";
}
.gf-times-circle:before {
  content: "\e04b";
}
.gf-ban:before {
  content: "\e04c";
}
.gf-ban-double:before {
  content: "\e04d";
}
.gf-left-circle:before {
  content: "\e04e";
}
.gf-right-circle:before {
  content: "\e04f";
}
.gf-pause-circle:before {
  content: "\e050";
}
.gf-play-circle:before {
  content: "\e051";
}
.gf-stop-circle:before {
  content: "\e052";
}
.gf-bullhorn:before {
  content: "\e053";
}
.gf-hand:before {
  content: "\e054";
}
.gf-hand-filled:before {
  content: "\e055";
}
.gf-heart:before {
  content: "\e056";
}
.gf-heart-filled:before {
  content: "\e057";
}
.gf-star:before {
  content: "\e058";
}
.gf-star-filled:before {
  content: "\e059";
}
.gf-paper-note-1:before {
  content: "\e05a";
}
.gf-paper-note-2:before {
  content: "\e05b";
}
.gf-paper:before {
  content: "\e05c";
}
.gf-paper-2:before {
  content: "\e05d";
}
.gf-analyse:before {
  content: "\e05e";
}
.gf-contrat:before {
  content: "\e05f";
}
.gf-page-left:before {
  content: "\e060";
}
.gf-page-right:before {
  content: "\e061";
}
.gf-guide:before {
  content: "\e062";
}
.gf-map:before {
  content: "\e063";
}
.gf-smile-1:before {
  content: "\e064";
}
.gf-smile-2:before {
  content: "\e065";
}
.gf-smile-3:before {
  content: "\e066";
}
.gf-share:before {
  content: "\e067";
}
.gf-upload:before {
  content: "\e068";
}
.gf-download:before {
  content: "\e069";
}
.gf-paperclip:before {
  content: "\e06a";
}
.gf-paper-plane:before {
  content: "\e06b";
}
.gf-envelope:before {
  content: "\e06c";
}
.gf-envelope-open:before {
  content: "\e06d";
}
.gf-link:before {
  content: "\e06e";
}
.gf-stock-full:before {
  content: "\e06f";
}
.gf-stock:before {
  content: "\e070";
}
.gf-stock-full-h:before {
  content: "\e071";
}
.gf-stock-h:before {
  content: "\e072";
}
.gf-light:before {
  content: "\e073";
}
.gf-sun:before {
  content: "\e074";
}
.gf-sun-auto:before {
  content: "\e075";
}
.gf-moon:before {
  content: "\e076";
}
.gf-moon-auto:before {
  content: "\e077";
}
.gf-phone:before {
  content: "\e078";
}
.gf-phone-filled:before {
  content: "\e07a";
}
.gf-phone-dot:before {
  content: "\e079";
}
.gf-tag-filled:before {
  content: "\e07b";
}
.gf-tag:before {
  content: "\e07c";
}
.gf-bookmark:before {
  content: "\e07d";
}
.gf-bookmark-filled:before {
  content: "\e07e";
}
.gf-bookmark-star:before {
  content: "\e07f";
}
.gf-bookmark-star-filled:before {
  content: "\e080";
}
.gf-lease:before {
  content: "\e081";
}
.gf-paper-euro:before {
  content: "\e082";
}
.gf-paper-search:before {
  content: "\e083";
}
.gf-paper-wrench:before {
  content: "\e085";
}
.gf-paper-warning:before {
  content: "\e086";
}
.gf-paper-info:before {
  content: "\e084";
}
.gf-wheel:before {
  content: "\e087";
}
.gf-book:before {
  content: "\e088";
}
.gf-cookie:before {
  content: "\e089";
}
.gf-gocardata:before {
  content: "\e08a";
}
.gf-power:before {
  content: "\e08b";
}
.gf-wrench:before {
  content: "\e08c";
}
.gf-bolt:before {
  content: "\e08d";
}
.gf-road:before {
  content: "\e08e";
}
.gf-fuel:before {
  content: "\e08f";
}
.gf-euro:before {
  content: "\e090";
}
.gf-gearbox:before {
  content: "\e091";
}
.gf-car:before {
  content: "\e092";
}
.gf-oldtimer:before {
  content: "\e093";
}
.gf-van:before {
  content: "\e094";
}
.gf-moto:before {
  content: "\e095";
}
.gf-car-split:before {
  content: "\e096";
}
.gf-car-compare:before {
  content: "\e097";
}
.gf-car-showroom:before {
  content: "\e098";
}
.gf-car-workshop:before {
  content: "\e099";
}
