@charset "UTF-8";

@font-face {
  font-family: "fleetmarket";
  src:url("fonts/fleetmarket.eot");
  src:url("fonts/fleetmarket.eot?#iefix") format("embedded-opentype"),
    url("fonts/fleetmarket.woff") format("woff"),
    url("fonts/fleetmarket.ttf") format("truetype"),
    url("fonts/fleetmarket.svg#fleetmarket") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
display: block;
  font-family: "fleetmarket" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1em;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: block;
  font-family: "fleetmarket" !important;
  font-style: normal !important;
  /*font-weight: normal !important;*/
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1em;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: -1px;
}

.icon-home:before {
  content: "\e000";
}
.icon-burger:before {
  content: "\e001";
}
.icon-search:before {
  content: "\e002";
}
.icon-alert:before {
  content: "\e003";
}
.icon-refresh:before {
  content: "\e004";
}
.icon-reload:before {
  content: "\e005";
}
.icon-history:before {
  content: "\e006";
}
.icon-list:before {
  content: "\e007";
}
.icon-ellipsis-v:before {
  content: "\e008";
}
.icon-ellipsis-h:before {
  content: "\e009";
}
.icon-user-circle:before {
  content: "\e00a";
}
.icon-users:before {
  content: "\e00b";
}
.icon-user:before {
  content: "\e00c";
}
.icon-user-dealer:before {
  content: "\e00d";
}
.icon-lock:before {
  content: "\e00e";
}
.icon-unlock:before {
  content: "\e00f";
}
.icon-filter:before {
  content: "\e010";
}
.icon-toggles:before {
  content: "\e011";
}
.icon-sort-asc:before {
  content: "\e012";
}
.icon-sort-desc:before {
  content: "\e013";
}
.icon-calendar:before {
  content: "\e014";
}
.icon-calendar-check:before {
  content: "\e015";
}
.icon-calendar-time:before {
  content: "\e016";
}
.icon-watch:before {
  content: "\e017";
}
.icon-stopwatch:before {
  content: "\e018";
}
.icon-clock:before {
  content: "\e019";
}
.icon-comment:before {
  content: "\e01a";
}
.icon-commenting:before {
  content: "\e01b";
}
.icon-camera:before {
  content: "\e01c";
}
.icon-picture:before {
  content: "\e01d";
}
.icon-bar-chart:before {
  content: "\e01e";
}
.icon-code:before {
  content: "\e01f";
}
.icon-medal:before {
  content: "\e020";
}
.icon-label:before {
  content: "\e021";
}
.icon-shield:before {
  content: "\e022";
}
.icon-shield-plus:before {
  content: "\e023";
}
.icon-super:before {
  content: "\e024";
}
.icon-map-marker:before {
  content: "\e025";
}
.icon-crosshairs:before {
  content: "\e026";
}
.icon-life-ring:before {
  content: "\e027";
}
.icon-eye:before {
  content: "\e028";
}
.icon-eye-slash:before {
  content: "\e029";
}
.icon-tachometer:before {
  content: "\e02a";
}
.icon-stack:before {
  content: "\e02b";
}
.icon-pencil:before {
  content: "\e02d";
}
.icon-cog:before {
  content: "\e02c";
}
.icon-trash:before {
  content: "\e02e";
}
.icon-design:before {
  content: "\e02f";
}
.icon-widget:before {
  content: "\e030";
}
.icon-line-chart:before {
  content: "\e031";
}
.icon-minus:before {
  content: "\e032";
}
.icon-plus:before {
  content: "\e033";
}
.icon-times:before {
  content: "\e034";
}
.icon-check:before {
  content: "\e035";
}
.icon-expand:before {
  content: "\e036";
}
.icon-compress:before {
  content: "\e037";
}
.icon-arrow-down-right:before {
  content: "\e038";
}
.icon-arrow-up-right:before {
  content: "\e039";
}
.icon-arrow-dis-down-right:before {
  content: "\e03a";
}
.icon-arrow-dis-up-right:before {
  content: "\e03b";
}
.icon-arrow-left:before {
  content: "\e03c";
}
.icon-arrow-right:before {
  content: "\e03d";
}
.icon-chevron-down:before {
  content: "\e03e";
}
.icon-chevron-left:before {
  content: "\e03f";
}
.icon-chevron-right:before {
  content: "\e040";
}
.icon-chevron-up:before {
  content: "\e041";
}
.icon-signal:before {
  content: "\e042";
}
.icon-echo:before {
  content: "\e043";
}
.icon-circle-left:before {
  content: "\e044";
}
.icon-circle-right:before {
  content: "\e045";
}
.icon-info-circle:before {
  content: "\e047";
}
.icon-question-circle:before {
  content: "\e048";
}
.icon-plus-circle:before {
  content: "\e049";
}
.icon-minus-circle:before {
  content: "\e04a";
}
.icon-check-circle:before {
  content: "\e046";
}
.icon-times-circle:before {
  content: "\e04b";
}
.icon-ban:before {
  content: "\e04c";
}
.icon-ban-double:before {
  content: "\e04d";
}
.icon-left-circle:before {
  content: "\e04e";
}
.icon-right-circle:before {
  content: "\e04f";
}
.icon-pause-circle:before {
  content: "\e050";
}
.icon-play-circle:before {
  content: "\e051";
}
.icon-stop-circle:before {
  content: "\e052";
}
.icon-bullhorn:before {
  content: "\e053";
}
.icon-hand:before {
  content: "\e054";
}
.icon-hand-filled:before {
  content: "\e055";
}
.icon-heart:before {
  content: "\e056";
}
.icon-heart-filled:before {
  content: "\e057";
}
.icon-star:before {
  content: "\e058";
}
.icon-star-filled:before {
  content: "\e059";
}
.icon-paper-note-1:before {
  content: "\e05a";
}
.icon-paper-note-2:before {
  content: "\e05b";
}
.icon-paper:before {
  content: "\e05c";
}
.icon-paper-2:before {
  content: "\e05d";
}
.icon-analyse:before {
  content: "\e05e";
}
.icon-contrat:before {
  content: "\e05f";
}
.icon-page-left:before {
  content: "\e060";
}
.icon-page-right:before {
  content: "\e061";
}
.icon-guide:before {
  content: "\e062";
}
.icon-map:before {
  content: "\e063";
}
.icon-smile-1:before {
  content: "\e064";
}
.icon-smile-2:before {
  content: "\e065";
}
.icon-smile-3:before {
  content: "\e066";
}
.icon-share:before {
  content: "\e067";
}
.icon-upload:before {
  content: "\e068";
}
.icon-download:before {
  content: "\e069";
}
.icon-paperclip:before {
  content: "\e06a";
}
.icon-paper-plane:before {
  content: "\e06b";
}
.icon-envelope:before {
  content: "\e06c";
}
.icon-envelope-open:before {
  content: "\e06d";
}
.icon-link:before {
  content: "\e06e";
}
.icon-stock-full:before {
  content: "\e06f";
}
.icon-stock:before {
  content: "\e070";
}
.icon-stock-full-h:before {
  content: "\e071";
}
.icon-stock-h:before {
  content: "\e072";
}
.icon-light:before {
  content: "\e073";
}
.icon-sun:before {
  content: "\e074";
}
.icon-sun-auto:before {
  content: "\e075";
}
.icon-moon:before {
  content: "\e076";
}
.icon-moon-auto:before {
  content: "\e077";
}
.icon-phone:before {
  content: "\e078";
}
.icon-phone-filled:before {
  content: "\e07a";
}
.icon-phone-dot:before {
  content: "\e079";
}
.icon-tag-filled:before {
  content: "\e07b";
}
.icon-tag:before {
  content: "\e07c";
}
.icon-bookmark:before {
  content: "\e07d";
}
.icon-bookmark-filled:before {
  content: "\e07e";
}
.icon-bookmark-star:before {
  content: "\e07f";
}
.icon-bookmark-star-filled:before {
  content: "\e080";
}
.icon-lease:before {
  content: "\e081";
}
.icon-paper-euro:before {
  content: "\e082";
}
.icon-paper-search:before {
  content: "\e083";
}
.icon-paper-wrench:before {
  content: "\e085";
}
.icon-paper-warning:before {
  content: "\e086";
}
.icon-paper-info:before {
  content: "\e084";
}
.icon-wheel:before {
  content: "\e087";
}
.icon-book:before {
  content: "\e088";
}
.icon-cookie:before {
  content: "\e089";
}
.icon-fleetmarketdata:before {
  content: "\e08a";
}
.icon-power:before {
  content: "\e08b";
}
.icon-wrench:before {
  content: "\e08c";
}
.icon-bolt:before {
  content: "\e08d";
}
.icon-road:before {
  content: "\e08e";
}
.icon-fuel:before {
  content: "\e08f";
}
.icon-euro:before {
  content: "\e090";
}
.icon-gearbox:before {
  content: "\e091";
}
.icon-car:before {
  content: "\e092";
}
.icon-oldtimer:before {
  content: "\e093";
}
.icon-van:before {
  content: "\e094";
}
.icon-moto:before {
  content: "\e095";
}
.icon-car-split:before {
  content: "\e096";
}
.icon-car-compare:before {
  content: "\e097";
}
.icon-car-showroom:before {
  content: "\e098";
}
.icon-car-workshop:before {
  content: "\e099";
}
