@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* @font-face {
    font-family: 'fleetmarket';
    src: url('/assets/fonts/fleetmarket.v1.1/fonts/fleetmarket.woff') format('woff2'),
         url('/assets/fonts/fleetmarket.v1.1/fonts/fleetmarket.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    /* --color-theme: oklch(0.78 0.20 253.57); */
    --color-theme: #5fa6f6;
    --color-theme-2: #1f62ee;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #111;
}
.is-active {
    @apply block;
}

.h1 {
    @apply mb-4 text-2xl font-extrabold leading-6 md:text-3xl;
}

/****** range-slider *****/
.range-slider {
    display: flex;
    flex-direction: column;
}
.range-slider-control {
    position: relative;
    min-height: 20px;
    margin-top: 20px;
}
.range-slider-control input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #22222299;
    box-shadow: 2px 2px 4px 0 #00000022;
    cursor: pointer;
    margin-top:-1px;
}
.range-slider-control input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 1.5em;
    height: 1.5em;
    background-color: #EEE;
    border-radius: 50%;
    border: 3px solid #FFF;
    box-shadow: 2px 2px 4px 0 #00000033;
    outline:1px solid #CCC;
    cursor: pointer;
    margin-top:-1px;
}
.range-slider-control input[type=range]::-webkit-slider-thumb:hover {
    background: var(--color-theme);
}
.range-slider-control input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}
.range-slider-control input[type=number]::-webkit-inner-spin-button,
.range-slider-control input[type=number]::-webkit-outer-spin-button {
     opacity: 1;
}
.range-slider-control input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.4em;
    height: 1.4em;
    color: #FFF;
    accent-color: var(--color-theme);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 3px;
    border: 1px solid #00000033;
    cursor: pointer;
    vertical-align: middle;
}
input[type="radio"], input[type="radio"]:before {
    border-radius: 50%;
}
input[type="checkbox"]:checked {
    /*border:2px solid var(--color-theme);*/
}
input[type="radio"]:before,
input[type="checkbox"]:before {
    flex:1;
    content:'';
    min-width:100%;
    min-height:100%;
    display:flex;
}
input[type="radio"]:checked:before,
input[type="checkbox"]:checked:before {
    background:var(--color-theme);
}
input[type="radio"]:disabled:before,
input[type="checkbox"]:disabled:before {
    background: #DDD;
}
input[type="radio"]:checked:disabled:before,
input[type="checkbox"]:checked:disabled:before {
    background: #333;
}
